$purple: #76719a;

h1 small {
    display: block;
    text-transform: uppercase;
    line-height: 2rem;
}

.vcard {
    border: none;
}

.period {
    float: right;
}

.sidebar {
    position: fixed;
    bottom: 30px;
    right: 30px;
}

.sidebar-button {
    display: block;
    width: 50px;
    height: 50px;
    line-height: 50px;
    border-radius: 2px;
    background-color: $purple;
    margin-bottom: 5px;
    transition: background-color 300ms;
    text-align: center;

    &:hover {
        background-color: #5a5678;
    }
}

.sidebar-button-icon {
    display: inline-block;
    width: 25px;
    height: 25px;
    vertical-align: middle;
    fill: #fff;
}

@media #{$screen} {
    .cv-section {
        padding: 65px 0;
        border-top: 1px solid #dadada;

        p:last-child {
            margin-bottom: 0;
        }
    }

    header .cv-section {
        border-top: 10px solid $purple;
    }

    .vcard {
        margin-bottom: 0;
    }

    ul.cv-list {
        list-style: none;
        position: relative;
    }

    ul.cv-list li:before {
        position: absolute;
        left: -1.1rem;
        color: $purple;
        content: "â—";
        font-style: normal;
        font-size: .9rem;
    }

    .cv-item {
        margin-bottom: 40px;
        padding-bottom: 40px;
        border-bottom: 1px solid #dadada;

        &:last-child {
            margin-bottom: 0;
            padding-bottom: 0;
            border-bottom: none;
        }
    }

    .period {
        padding: 12px 20px;
        background-color: #b1b1b1;
        color: #fff;
        text-transform: uppercase;

        transition: background-color 300ms;
    }

    .cv-item:hover > .period {
        background-color: $purple;
    }

    footer {
        padding: 5px 0;
        background-color: #b1b1b1;
        color: #fff;
        text-align: center;
        text-transform: uppercase;
        font-size: 75%;
    }
}

@media #{$small-only} {
    .period {
        float: none;
    }
}

/* small and medium screens only */
@media #{$screen} and (max-width:#{upper-bound($medium-range)}) {
    h1,
    .cv-section-title {
        margin-bottom: 40px;
    }
}

@media #{$medium-up} {
    .cv-section-title {
        margin-top: 0;

        // reducing the height for titles which don't have a matching title on the right
        &.narrow {
            margin-top: rem-calc(-10);
        }
    }
}

@media #{$large-up} {
    .cv-section-title {
        margin-top: 0;

        // reducing the height for titles which don't have a matching title on the right
        &.narrow {
            margin-top: rem-calc(-10);
        }
    }
}


@media print {
    @page {
        margin: 1in;
    }

    html,
    body {
        font-size: 10pt;
    }

    // text in vcard links matches href
    .vcard {
        a:after { content: ""; }
    }

    header {
        .columns {
            display: inline-block;
            width: auto;
        }
    }

    .cv-skills-section-content {
        .columns {
            width: 50%;
            float: left !important;
        }
    }

    .cv-item {
        page-break-inside: avoid;
    }

    .sidebar {
        display: none;
    }

    footer {
        display: none;
    }
}
