$purple: #76719a;

h1 small {
    display: block;
    text-transform: uppercase;
    line-height: 2rem;
}

.vcard {
    border: none;
}

.period {
    float: right;
}

@media #{$screen} {
    .cv-section {
        padding: 65px 0;
        border-top: 1px solid #dadada;

        p:last-child {
            margin-bottom: 0;
        }
    }

    header .cv-section {
        border-top: 10px solid $purple;
    }

    .vcard {
        margin-bottom: 0;
    }

    ul.cv-list {
        list-style: none;
        position: relative;
    }

    ul.cv-list li:before {
        position: absolute;
        left: -1.1rem;
        color: $purple;
        content: "â—";
        font-style: normal;
        font-size: .9rem;
    }

    .cv-item {
        margin-bottom: 40px;
        padding-bottom: 40px;
        border-bottom: 1px solid #dadada;

        &:last-child {
            margin-bottom: 0;
            padding-bottom: 0;
            border-bottom: none;
        }
    }

    .period {
        padding: 12px 20px;
        background-color: #b1b1b1;
        color: #fff;
        text-transform: uppercase;

        transition: background-color 300ms;
    }

    .cv-item:hover > .period {
        background-color: $purple;
    }

    footer {
        padding: 5px 0;
        background-color: #b1b1b1;
        color: #fff;
        text-align: center;
        text-transform: uppercase;
        font-size: 75%;
    }
}

@media #{$small-only} {
    .period {
        float: none;
    }
}

/* small and medium screens only */
@media #{$screen} and (max-width:#{upper-bound($medium-range)}) {
    h1,
    .cv-section-title {
        margin-bottom: 40px;
    }
}

@media #{$medium-up} {
    .cv-section-title {
        margin-top: 0;

        // reducing the height for titles which don't have a matching title on the right
        &.narrow {
            margin-top: rem-calc(-10);
        }
    }
}


@media print {
    html,
    body {
        font-size: 10pt;
    }

    // text in vcard links matches href
    .vcard {
        a:after { content: ""; }
    }

    header {
        .columns {
            display: inline-block;
            width: auto;
        }
    }

    .cv-skills-section-content {
        .columns {
            width: 33%;
            float: left !important;
        }
    }

    .cv-item {
        page-break-inside: avoid;
    }

    footer {
        display: none;
    }
}
